.tabela-produtos {
    border-collapse: collapse;
    margin: 0 auto;
    .img-produto {
        width: 100px;
        height: 66px;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    & thead {
        background-color: #c74747;
        color: white;
    }
    .tabela-body {
        & tr {
            transition: all 0.2s ease-in-out;
            &:nth-child(even) {
                background-color: #bdbdbd;
            }
            &:hover {
                background-color: #c74747;
            }
        }
    }

    .tabela-cell {
        padding: 4px;
        border: 2px solid black;
        text-align: center;
    }
}
